*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}


@media(min-width:320px){
	.logo-net>h1{
		display:none;
	}
	
}

@media(min-width:620px){
 .logo-net>h1{
	position:absolute;
	top:10px;
	left:35px;
	font-size:68px;
	color:#E50914;
	font-family: 'Source Sans Pro', sans-serif;
    display:block;
}

section {
    background-image: linear-gradient(#41464bb8, #0606062e),url(../images/netflix.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.logo-net>h1{
	position:absolute;
	top:10px;
	left:35px;
	font-size:58px;
	color:#E50914;
	font-family: 'Source Sans Pro', sans-serif;

}	

}

@media(min-width:1000px){
	
	



section {
    background-image: linear-gradient(#41464bb8, #0606062e),url(../images/netflix.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
	position:relative;
	
}
}


.card{
	background-color:rgba(0,0,0 ,0.8) !important;
}

.net-btn{
	background-color: #E50914 !important;
	border:2px #E50914;
}
.net-type-1>p>a{
	position:relative;
}
.net-type-1>p>a::after{
	position:absolute;
	top:; 
	left:0;
	content:"";
	width:0;
	height:1px;
	display:block;
	background-color:rgb(82,95,225);
	transform-origin:right;
}
.net-type-1>p>a:hover::after{
   width:100%;
	color:rgb(82,95,225);
}
.net-cont>a{
	position:relative;
}
.net-cont>a::after{
	position:absolute;
	top:; 
	left:0;
	content:"";
	width:0;
	height:1px;
	display:block;
	background-color:#C4C3C2;
	transform-origin:right;
}
.net-cont>a:hover::after{
   width:100%;
	color:rgb(82,95,225);
}	

.net-type>p>a{
	position:relative;
}
.net-type>p>a::after{
	position:absolute;
	top:; 
	left:0;
	content:"";
	width:0;
	height:1px;
	display:block;
	background-color:#ffff;
	transform-origin:right;
}
.net-type>p>a:hover::after{
   width:100%;
	color:#ffff;
}

.form-control{
	background-color:#333 !important;
	border:2px solid #333 !important;
}
.net-mail{
	color:#8c8c8c !important;
}

footer{
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:4;
}